<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.INJECT_EVENTS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SendAdActivity"></activity>
        <activity android:name=".activity.MsgBox" />
        <activity android:name=".activity.SendPictureActivity" />
        <activity android:name=".activity.SendMessageActivity" />
        <activity android:name=".activity.messagerevActivity" />
        <activity android:name=".activity.ContactsActivity" />
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.message_show" />

        <!--
           activity标签：配置我们的Activity类
           name属性：全类名，可以省略包名部分
           label属性：界面的标题
        -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.SimpleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ListActivity" />
        <activity android:name=".activity.MapActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="EkLwpEZYldjvGyLv1Z3G7kUOzDAh8gM7" />

        <receiver android:name=".netstate.NetChangeReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>